page-servisler {

  .myKusurButton{
    border-radius: 28px;
    box-shadow: 0px 10px 24px 2px rgba(139,139,139,0.15);
    //box-shadow: 0px 0px 32px 5px rgba(187, 196, 185, 0.73);
    width: 85%;
    margin-left: 7%;
  }


  .fBox{
    height: 50px;
    border-radius: 100px 100px 0px 0px;
    background-color: #ffffff;
  }



  .c3{
    width: 30%;
  }


  .c_center{
    width: 40%;
  }


  .servisler{
    font-size: 13px;
    text-align: center;
    color:#7A7A7A;
  }


  .araButton{
    background-color: #FB2425;
    width: 132px;
    height: 130px;
    border-radius: 50% 50% 0px 0px;
    margin-top: -30px;
    box-shadow: 0px 0px 0px 20px rgba(255,255,255,0.12);
  }




  .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
  }





}
